#Mac配置文件
.DS_Store
#相机配置
SDKLOG_default.properties
#日志
/log

#VS编译文件
.vs
/x64
/build/Heimdal.*
/build/*.pdb
/build

#Opencv编译文件
/include/opencv

#编译文件
.vscode
-build-debug
cmake-build-debug
cmake-build-release
.idea
*.exe.manifest
*.exe

#yolo训练工具
/TOOL

#训练文件
/TrainData/autoSaveSample
/TrainData/yolo/yolov4-radar_last.weights
/TrainData/video.mp4

#样本文件
/VisionData/imgSave
/VisionData/AVISave
/VisionData/cameraCaliData/caliPatternRight
/VisionData/cameraCaliData/caliPatternLeft
